<% layout('layouts/boiler')%>
<link rel="stylesheet" href="/styles/style4.css">
<div class="jform">
    <form action="/create" method="POST">
        <label for="name">Username</label>
        <input type="text" name="user[username]" id="name"   required aria-required="true" />

        <label for="name">Name</label>
        <input type="text" name="user[name]" id="name"   required aria-required="true" />

        <label  for="password">Password</label>
        <input type="password" name="user[password]" id="password"   required aria-required="true" />

        <label  for="email">email</label>
        <input type="email" name="user[email]" id="email"   required aria-required="true" />

        <button>Submit</button>
   
  </form>
</div>
