body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


nav{
    height: 80px;
    width: 100%;
    z-index: 3;
    /* background-color: #0082e6; */
    /* box-shadow: 0px 1px 10px rgb(0,0,0); */
  }
  label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #777;;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
      color: black;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    nav a:hover,nav a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      z-index: 3;
      left: 0;
    }
  }













.home{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.card{
    width: 250px;
    height: 300px;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0,0.1 );
    margin: 20px;
}

.card img{
    /* width: 100%; */
    height: 100%;
    margin-top: 38px;

}

.card-body{
    display: flex;
    flex-direction: column;
    color: #777;
    align-items: center;
    justify-content: center;
    /* text-transform: uppercase; */
}

.card-body h3{
    margin-top: 29px;
    margin-bottom: 2px;
    text-align: center;
}

.card-body a{
    text-decoration: none;
    color: black;
    border: 1px solid #777;
    padding: 0.25rem 1.5rem;
    border-radius: 1200px;
    margin-top: 30px;
}

.card-head{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-show{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  justify-content: space-around;
}

.show-clg{
  color: white;
  padding: 10px;
  width:60%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8))
}

.star-box{
  width: 30%;
  /* height: 100px; */
}

.star-box textarea,.star-box label{
  display: block;
  margin-bottom: 10px;
}

.star-box button{
  margin-top: 5px;
  background-color: blue;
  border: 1px solid blue;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
}

.star-box textarea{
  border: 1.5px solid rgb(2, 182, 2);
}



.show-clg-head img{
  height: 80%;
}

.show-clg-body {
 display: flex;
 flex-direction: column;
 /* align-items: center; */
 /* justify-content: center; */
}

.show-clg-body p1{
  margin: 10px 0;
}

.show-clg h4{
  text-transform: uppercase;
}

.show-clg-body span{
  color: rgba(0, 0, 0, 0.794);
}

.show-clg-body p{
  border: 1px solid green;
  padding: 0.5rem;
  border-radius: 1000px;
  width: 57%;
}

.btn-box{
  width: 60%;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

.btn-box a ,.btn-box button{
  text-decoration: none;
  color: rgb(8, 199, 49);
  border: 1px solid green;
  padding: 0.5rem 1rem;
  width: 100px;
  margin:10px 0;
}

.btn-box a:hover,.btn-box button:hover{
  color: white;
  background: #1b9bff;
}

.alert{
  position: relative;
  width: 100%;
  height: 50px;
}

.alert button{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.alert-success span{
  position: absolute;
  top: 45px;
  left: 12px;
  font-size: 22px;
}

.alert-fail span{
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 22px;
}

.alert-success span{
  color: green;
}
.alert-fai span{
  color: red;
}

.alert-success button{
  background-color: rgb(80, 228, 80);
  border: 1px solid rgb(80, 228, 80);
  font-size: 16px;
}

.alert-fail button{
  background-color: rgb(236, 110, 110);
  border: 1px solid rgb(236, 110, 110);;
  font-size: 16px;
}


@media (max-width: 858px){
  .alert-success span,.alert-fail span{
    top: 12px;
  }
}


.err-box{
  justify-content: center;
  width: 80%;
  background-color: rgb(255, 139, 139);
  color: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
}


.card-body-2{
  border: 1px solid gray;
  padding: 5px;
  margin-top: 10px;
}

.card-body-2 span{
  color: blue;
}



/* slideshow */

/* .show-clg-head{ */
  /* margin: 10px; */
  /* background: white;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px; */
 
/* } */

.slideshow-container {
  position: relative;
  margin: auto;
  /* background: white; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
}
.forwhat{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshow-container img{
  /* height: 100%; */
  margin: 0 auto;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.homemap{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.reviewcon{
  height: 100vh;
  overflow-y: scroll;
  margin-top: 10px;
}

.map{
  width: 60%;
  border: 1px solid rgba(40,180,133,0.8);
  height: 500px;
  margin-left: 30px;
  margin-bottom: 200px;
}

.mapContainer{
  margin-top: 20px;
  /* padding: 10px; */
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.question-sec{
  background-color: #c0ded9;
  padding-top: 10px;
  width: 30%;
  height: 100%;
  /* background-color: #1b9bff; */
}

.question-sec label,.question-sec textarea{
  display: block;
  margin-left: 10px;
}

.question-sec textarea{
  border-radius: 5px;
  margin-top: 20px;
}

.btnqs{
  text-decoration: none;
  color: rgb(8, 199, 49);
  border: 1px solid green;
  padding: 0.5rem 1rem;
  width: 100px;
  margin:10px 0;
  margin-left: 10px;
}
.btnqs:hover{
  color: white;
  background: #1b9bff;
}

.question-ans{
  margin-left: 10px;
  overflow-y: scroll;
  height: 70%;
}

.question-ans a{
  text-decoration: none;
  /* border-radius: 1000px; */
}
.qsform{
  height: 30%;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

.signin{
  /* color: rgba(40,180,133,0.8); */
  color: green;
}


.avgr{
  text-transform: uppercase;
  margin-top: -20px;
  margin-bottom: 10px;
  display: block;
}

.customstar{
  color: orange;
  font-size: 24px;
}